@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

html,
body,
#root {
  margin: 0;
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  background: black;
}

.Scene {
  flex-grow: 1;
}

.Settings {
  flex-basis: 240px;
  flex-shrink: 0;
  padding: 1rem;
  overflow: hidden;
  background: #eee;
}
